<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>moviecritic documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">moviecritic documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">moviecritic documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/AppModule.html" >AppModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/AdvancedsearchComponent.html" >AdvancedsearchComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ContactComponent.html" >ContactComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HomePageComponent.html" >HomePageComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/MovieComponent.html" >MovieComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ProfileComponent.html"  class="active" >ProfileComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/SigninComponent.html" >SigninComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/SignupComponent.html" >SignupComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/AuthenticationService.html" >AuthenticationService</a>
                                </li>
                        </ul>
                    </li>
            
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">moviecritic documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/AppModule.html" >AppModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/AdvancedsearchComponent.html" >AdvancedsearchComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ContactComponent.html" >ContactComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HomePageComponent.html" >HomePageComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/MovieComponent.html" >MovieComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ProfileComponent.html"  class="active" >ProfileComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/SigninComponent.html" >SigninComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/SignupComponent.html" >SignupComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/AuthenticationService.html" >AuthenticationService</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>ProfileComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/auth/profile/profile.component.ts</code>
</p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-profile</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>profile.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>profile.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>



    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(http: <a href="https://angular.io/docs/ts/latest/api/http/index/Http-class.html" target="_blank" >Http</a>)</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> userDetails</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>userDetails()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> allcritics</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>allcritics()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getmycritics</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getmycritics()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> addcritic</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>addcritic(additem: any)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> removecritic</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>removecritic(removeitem: any)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> criticlink</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>criticlink:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>http://127.0.0.1:8000/api/v1/critic?format&#x3D;json</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> critics</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>critics:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> currentUser</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>currentUser:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> http</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>http:     <code><a href="https://angular.io/docs/ts/latest/api/http/index/Http-class.html" target="_blank" >Http</a></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> mycritics</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>mycritics:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> myOptions</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>myOptions:     <code>IMultiSelectOption[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> myuserlink</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>myuserlink:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>http://127.0.0.1:8000/api/v1/usercritic</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> notmycritics</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>notmycritics:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> optionsModel</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>optionsModel:     <code>number[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> user</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>user:     <code>any[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> usercritics</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>usercritics:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> userlink</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>userlink:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { Http, Response, Headers } from &#x27;@angular/http&#x27;;
import { IMultiSelectOption } from &#x27;angular-2-dropdown-multiselect&#x27;;


@Component({
    selector: &#x27;app-profile&#x27;,
    templateUrl: &#x27;./profile.component.html&#x27;,
    styleUrls: [&#x27;./profile.component.css&#x27;]
})
export class ProfileComponent implements OnInit {

    //get the current user from local storage
    currentUser &#x3D; JSON.parse(localStorage.getItem(&#x27;currentUser&#x27;));
    userlink &#x3D; &quot;http://127.0.0.1:8000/api/v1/user/&quot; + this.currentUser.id + &quot;/?format&#x3D;json&quot;;
    criticlink &#x3D; &#x27;http://127.0.0.1:8000/api/v1/critic?format&#x3D;json&#x27;;
    myuserlink &#x3D; &quot;http://127.0.0.1:8000/api/v1/usercritic&quot;;
    http: Http;
    user &#x3D; [];
    critics;
    optionsModel: number[];
    myOptions: IMultiSelectOption[];
    usercritics;
    mycritics;
    notmycritics;



    constructor(http: Http) {
        this.http &#x3D; http;
        this.allcritics();
        this.userDetails();
        this.getmycritics();
    }

    ngOnInit() {

    }
    userDetails() {
        this.http.request(this.userlink)
            .subscribe((res: Response) &#x3D;&gt; {
                this.user &#x3D; res.json();
                console.log(this.user);
            })
    };
    //get all critics from our database
    allcritics() {
        this.http.request(this.criticlink)
            .subscribe((res: Response) &#x3D;&gt; {
                this.critics &#x3D; res.json();
                console.log(this.critics);
            })
    };
    //filter out the user critics form user critic assosc
    getmycritics() {
        this.http.request(this.myuserlink)
            .subscribe((res) &#x3D;&gt; {
                this.usercritics &#x3D; res.json();
                console.log(this.mycritics);
                let currentUser &#x3D; JSON.parse(localStorage.getItem(&#x27;currentUser&#x27;));
                console.log(currentUser.id);
                this.mycritics &#x3D; this.usercritics.objects.filter(function (x) { return x.User.id &#x3D;&#x3D; currentUser.id; });
                console.log(this.mycritics);
                let a &#x3D; this.mycritics.map(function (a) { return a.Critic.id; });
                this.notmycritics &#x3D; this.critics.objects.filter(function (x) { return a.indexOf(x.id) &#x3D;&#x3D; -1; });
                console.log(this.notmycritics);
            });
    }
    //method for adding a critc to user asosc
    addcritic(additem) {

        console.log(additem);
        let user &#x3D; &quot;/api/v1/user/&quot; + this.currentUser.id + &quot;/&quot;;
        let critic &#x3D; additem.resource_uri;
        let params &#x3D; JSON.stringify({ Critic: critic, User: user, name: &quot;k&quot; });
        console.log(params);
        var headers &#x3D; new Headers();
        headers.append(&#x27;Content-Type&#x27;, &#x27;application/json&#x27;);
        this.http.post(&#x27;http://127.0.0.1:8000/api/v1/usercritic/&#x27;, params, {
            headers: headers
        }).subscribe((data) &#x3D;&gt; {
            console.log(&#x27;received response&#x27;);
            this.getmycritics();
        });
    };
    //method for removing a critic from user assoc
    removecritic(removeitem) {
        console.log(removeitem);
        let removecritic &#x3D; &quot;http://127.0.0.1:8000/api/v1/usercritic/?id&#x3D;&quot; + removeitem.id;
        this.http.delete(removecritic).subscribe((data) &#x3D;&gt; {
            console.log(&#x27;received response&#x27;);
            this.getmycritics();
        });
    };
}</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
